body {
    background-color: #e6f3ff;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .imagemCarrossel {
    width: 100%;
  }
  
  h2 {
    color: #ef6420;
    font-family: 'Fraset', sans-serif;
    margin-top: 20px;
  }
  
  .planos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .plano-card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 280px;
    font-family: 'Arial', sans-serif;
  }
  
  .plano-card h3 {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
    color: white;
    background-color: #a1a1a1;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    margin: -20px -20px 0 -20px;
  }
  
  .plano-card p {
    font-size: 1rem;
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
  }

  .plano-card .beneficios-list0 {
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 85px;
    color: #ef6420;
    text-align: left; /* Alinhar à esquerda */
  }
  
  .plano-card .beneficios-list1 {
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 60px;
    color: #ef6420;
    text-align: left; /* Alinhar à esquerda */
  }

  .plano-card .beneficios-list2 {
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 35px;
    color: #ef6420;
    text-align: left; /* Alinhar à esquerda */
  }

  .plano-card .beneficios-list3 {
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 10px;
    color: #ef6420;
    text-align: left; /* Alinhar à esquerda */
  }
  
  .plano-card .beneficios-list li {
    margin-bottom: 5px;
    color: #ef6420;
  }
  
  .plano-card .price {
    font-size: 2rem;
    color: #ef6420;
  }
  
  .prince-margin1 {
    margin-bottom: 10px; /* Adicionar margem no preço */
  }
  
  .plano-card .price::after {
    content: '/mês';
    font-size: 0.8rem;
    vertical-align: super;
  }
  
  .plano-card .price,
  .plano-card .price::after {
    display: inline-block;
  }
  
  .plano-card .beneficios-list::after {
    content: "";
    display: block;
    height: 20px;
  }
  
  .plano-card .button-card {
    padding: 10px 20px;
    background-color: #ef6420;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    width: 100%;
    text-align: center;
  }
  
  .plano-card .button-card:hover {
    background-color: #ff6347;
  }
  
  .card-plano {
    margin-right: 10px;
    margin-top: 20px;
  }
  
  .titleDesk {
    margin-top: 50px;
  }
  
  .plano-value {
    color: #ef6420;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .beneficio-item {
    font-weight: bold;
  }
  
  .plano-descricao {
    color: orangered;
  }

  
  /* Novo CSS adicionado */
  
  .beneficios-list li {
    color: orange;
  }
  
  .plano-card .price,
  .plano-card .plano-value,
  .plano-card h3 {
    font-weight: bold;
  }